.App {
  width: 100vw;
  height: 100vh;
  background: black;
}

/* Header styles: */
header {
  width: 100%;
  height: 10%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 1rem 0;
}

.logo {
  height: 100%;
  padding-right: 1rem;
}

.logo img {
  height: 100%;
}

.title {
  color: white;
}

/* Content styles: */
.content {
  height: 85%; /*No idea why, but 90% creates whitespace at the bottom of the page! */
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
}

.picture img {
  height: 100%;
}

.description {
  background: #070707;
  color: white;
  height: 90%;
  width: 40%;
  overflow: hidden;
  padding: 1rem;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
